.feedbackForm {
  * {
    color: white !important;
    &:hover {
      color: white;
    }
  }

  * > .MuiInputBase-root {
    &::before {
      border-color: white !important;
    }
    &::after {
      border-color: white !important;
    }
    //&.Mui-focused {
    //  &::after {
    //    border-color: gray !important;
    //  }
    //}
  }
}