@import "Text";
@import "Colors";
@import "Flex";

html,
body {
  background-color: black;
  margin: 0;
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  &:hover {
    background: color-mix(in srgb, var(--gray), transparent 80%);
  }
}
::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--gray), transparent 80%);
  border-radius: 4px;
  &:hover {
    background: var(--gray);
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
