$textMain: #fff;
$primary: #4e342e; // mui brown[800]
$primaryLight: #a1887f; // mui brown[300]
$primaryHover: #795548; // mui brown[500]
$primaryDark: #211513; // #261816;
$bgPrimary: #111111;
$bgSecondary: #212121;

:root {
  --textMain: #{$textMain};
  --primary: #{$primary};
  --primaryLight: #{$primaryLight};
  --primaryHover: #{$primaryHover};
  --primaryDark: #{$primaryDark};
  --bgPrimary: #{$bgPrimary};
  --bgSecondary: #{$bgSecondary};

  --gray: rgb(160, 160, 160);
}

:export {
  primary: $primary;
  primaryLight: $primaryLight;
  primaryDark: $primaryDark;
  bgPrimary: #{$bgPrimary};
  bgSecondary: #{$bgSecondary};
}