@mixin gridToCarousel() {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 1rem;
  width: 100vw;
}

.gridCarousel.MuiGrid-root {
  @include gridToCarousel();
}

@media only screen and (max-width: 900px) {
  .gridFlexible.MuiGrid-root {
    @include gridToCarousel();

    .MuiGrid-item {
      & > :nth-child(1) {
        aspect-ratio: 1/1;
      }
    }
  }
}