@import "Text";
@import "Colors";

html,
body {
  background-color: black;
  margin: 0;
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--gray), transparent 90%);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

*,
:after,
:before {
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--primaryLight);
  &:hover {
    color: var(--primaryHover);
  }
}